<section class="bmv-teams">
    <figure class="img-container">
        <img class="img" [src]="bmvTeams['img']['src']" [alt]="bmvTeams['img']['alt']">
    </figure>
    <div class="content-container">
        <header class="title-container">
            <h1 class="title"> {{ bmvTeams['title'] }} </h1>
        </header>
        <div class="text-container">
            <article class="article">
                <h2 class="subtitle"> {{ bmvTeams['sub-title'] }} </h2>
                <div class="paragraph-container">
                    <p class="paragraph"> {{ bmvTeams['paragraph-top'] }} </p>
                    <p class="paragraph"> {{ bmvTeams['paragraph-middle'] }} </p>
                    <div class="paragraph-group">
                        <p class="paragraph bottom"> {{ bmvTeams['paragraph-bottom-p1'] }} </p>
                        <a class="link" href=""> {{ bmvTeams['link'] }} </a>
                        <p class="paragraph bottom"> {{ bmvTeams['paragraph-bottom-p2'] }} </p>
                    </div>
                </div>
            </article>
            <figure class="line">
                <i class="fa-solid fa-xmark x-icon"></i>
                <i class="fa-solid fa-xmark x-icon"></i>
                <i class="fa-solid fa-xmark x-icon"></i>
            </figure>
        </div>
    </div>
</section>
