@use "../../../../variables.scss";

.bmv-teams{
    width: 100%;
    display: flex;
    flex-direction: row;

    .img-container{
        display: flex;
        flex-direction: column;
        flex: 1 0 0;
        height: 50rem;

        .img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: variables.$borderRed;
        }
    }

    .content-container{
        display: flex;
        flex-direction: column;
        flex: 3 1 0;
        justify-content: flex-start;

        .title-container{
            padding-top: 2rem;
            width: 100%;
            border-right: variables.$borderRed;

            .title{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;
                color: variables.$red;
                font-size: variables.$StandardText;
            }
        }

        .text-container{
            display: flex;
            justify-content: flex-end;
            gap: variables.$gapBetweenLine;
            border-bottom: variables.$borderRed;

            .text {
                text-align: right;
                display: flex;
                flex-direction: column;
                padding-left: 2rem;

                .subtitle{
                    font-size: variables.$StandardSubTitle;
                    text-align: left;
                }

                .paragraph-container{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    text-align: left;

                    .paragraph-group{
                        width: 100%;
                        padding-bottom: 2rem;

                        .paragraph{
                            font-size: variables.$StandardParagraph;
                            &.bottom{
                                display: inline;
                            }
                        }

                        .link{
                            display: inline;
                        }
                    }
                }
            }

            .line {
                flex-shrink: 0;
                background: red;
                width: 3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 1.5rem;

                .x-icon{
                    color: white;
                }
            }

        }
    }
}

@media screen and (max-width: 65.625rem){ // 1050px
    .bmv-teams {
        flex-direction: column-reverse;
        margin-bottom: 5rem;

        .img-container{
            .img{

            }
        }

        .content-container{
            border-left: .2rem solid red;
            .text-container{
                border-bottom: unset;
            }
        }
    }
}

@media screen and (max-width: 40.625rem){ // 650px
    .bmv-teams{
        .content-container{
            .title-container{
                .title{
                    font-size: variables.$m650Title;
                }
            }
            .text-container{
                .article{
                    .subtitle{
                        font-size: variables.$m650Subtitle;
                    }
                    .paragraph-container{
                        .paragraph{
                            font-size: variables.$m650Paragraph;
                            .paragraph-group{

                                .link{
                                    font-size: variables.$m650Paragraph;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

