<footer class="contact">
    <div class="column">
        <h3 class="title"> {{ footer['mail']['title'] }} </h3>
        <p class="text"> {{ footer['mail']['text'] }} </p>
        <a [href]="footer['mail']['href']"> {{ footer['mail']['contact'] }} </a>
    </div>
    <div class="column">
        <h3 class="title"> {{ footer['pmb']['title'] }} </h3>
        <a [href]="footer['pmb']['links']['twitter']"> {{ footer['pmb']['twitter'] }} </a>
        <a [href]="footer['pmb']['links']['linkedIn']"> {{ footer['pmb']['linkedIn'] }} </a>
    </div>
    <div class="column">
        <h3 class="title"> {{ footer['about-us']['title'] }} </h3>
        <a [href]="footer['about-us']['links']['colofon']"> {{ footer['about-us']['colofon'] }} </a>
        <a [href]="footer['about-us']['links']['pec']"> {{ footer['about-us']['pec'] }} </a>
        <a [href]="footer['about-us']['links']['sitemap']"> {{ footer['about-us']['sitemap'] }} </a>
    </div>
    <div class="column">
        <h3 class="title"> {{ footer['amsterdam']['title'] }} </h3>
        <p class="text"> {{ footer['amsterdam']['text'] }} </p>
        <a [href]="footer['amsterdam']['href']"> {{ footer['amsterdam']['link'] }} </a>
    </div>
</footer>
