@use "../../../scss/variables.scss";
@use "../../../scss/mixins.scss";

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 10rem;
    width: 100%;
    background-color: #2e2e2e;
    color: variables.$white;

    .column {
        @include mixins.flexColumn;
        text-align: center;

        * {
            margin-bottom: 2rem;
            color: variables.$white;
        }

        .subtitle{
            font-size: variables.$StandardSubTitle;
        }

        .text {
            width: 50%;
            font-size: variables.$StandardParagraph;
        }
    }
}

@media screen and (max-width: 81.25rem){ // 1300 px
    .contact{
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width: 40.625rem){ // 650 px
    .contact{
        .column{
            .subtitle{
                font-size: variables.$m650Subtitle;
            }

            .text{
                font-size: variables.$m650Paragraph;
            }
        }
    }
}