@use "../../../../variables.scss";

.property {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-left:  variables.$borderRed;

    .img-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        height: 50rem;
        border-right: variables.$borderRed;

        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top: variables.$borderRed;
            border-bottom: variables.$borderRed;
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        flex: 3 1 0;
        justify-content: flex-end;

        .title-container {
            width: 100%;
            border-top: variables.$borderRed;
            border-right: variables.$borderRed;

            .title {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;
                color: variables.$red;
                font-size: variables.$StandardText;
            }
        }
        .text-container {
            display: flex;
            justify-content: flex-end;
            gap: variables.$gapBetweenLine;

            .text {
                text-align: right;
                display: flex;
                flex-direction: column;
                padding-left: 2rem;

                .subtitle{
                    font-size: variables.$StandardSubTitle;
                    text-align: left;
                }

                .paragraph-container{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    text-align: left;

                    .paragraph{
                        font-size: variables.$StandardParagraph;
                        &:nth-child(3){
                            padding-bottom: 2rem;
                        }
                    }
                }
            }

            .line {
                flex-shrink: 0;
                background: variables.$red;
                width: 3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 1.5rem;

                .x-icon{
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 81.25rem){ // 1300 px
    .property {
        flex-direction: column-reverse;
        .img-container {
            flex: 1.5 1 0;
        }
        .content-container {
            .title-container {

            }
            .text-container {
                .text {
                    .subtitle{
                    }

                    .paragraph-container{
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 65.625rem){ // 1050px
    .organisation {
        flex-direction: column-reverse;

        .img-container{
            .img{
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (max-width: 40.625rem){ // 650px
    .property {
        .content-container {
            .title-container {
                .title{
                    font-size: variables.$m650Title;
                }
            }
            .text-container {
                .text {
                    .subtitle{
                        font-size: variables.$m650Subtitle;
                    }

                    .paragraph-container{
                        .paragraph{
                            font-size: variables.$m650Paragraph;
                        }
                    }
                }
            }
        }
    }
}

