<section class="property">
    <figure class="img-container">
        <img class="img" [src]="organisation['property']['img']['src']" [alt]="organisation['property']['img']['alt']">
    </figure>
    <div class="content-container">
        <header class="title-container">
            <h1 class="title">{{ organisation['title'] }}</h1>
        </header>
        <div class="text-container">
            <article class="text">
                <h2 class="subtitle"> {{ organisation['property']['sub-title'] }} </h2>
                <div class="paragraph-container">
                    <p class="paragraph">  {{ organisation['property']['paragraph-top'] }} </p>
                    <p class="paragraph">  {{ organisation['property']['paragraph-middle'] }} </p>
                    <p class="paragraph">  {{ organisation['property']['paragraph-bottom'] }} </p>
                </div>
            </article>
            <figure class="line">
                <i class="fa-solid fa-xmark x-icon"></i>
                <i class="fa-solid fa-xmark x-icon"></i>
                <i class="fa-solid fa-xmark x-icon"></i>
            </figure>
        </div>
    </div>
</section>
