<header class="header">
    <img [src]="nav['img']['src']" [alt]="nav['img']['alt']">
    <ul #navigation class="navigation hidden">
        <li class="nav-item">
            <a href="" class="link"> {{ nav['organisation'] }} </a>
        </li>
        <li class="nav-item">
            <a href="" class="link"> {{ nav['people'] }} </a>
        </li>
        <li class="nav-item">
            <a href="" class="link"> {{ nav['expertise'] }} </a>
        </li>
        <li class="nav-item">
            <a href="" class="link"> {{ nav['projects'] }} </a>
        </li>
        <li class="nav-item">
            <a href="" class="link"> {{ nav['work-at'] }} </a>
        </li>
        <li class="nav-item">
            <a href="" class="link"> {{ nav['contact'] }} </a>
        </li>
    </ul>
    <i #bar class="fa-solid fa-bars icon-bar" (click)="openMenu(navigation, bar, x)"></i>
    <i #x class="fa-solid fa-x icon-x" (click)="closeMenu(navigation, bar, x)"></i>
</header>
