@use "../../../scss/variables.scss";
@use "../../../scss/mixins.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0rem 4rem;

    .logo {
        width: 5rem;
    }

    .navigation {
        display: flex;
        gap: 2rem;

        .nav-item {
            list-style: none;

            .link {
                text-decoration: none;
                color: black;

                &:hover{
                    color: variables.$red;
                }
            }
        }
    }

    .icon-bar {
        display: none;
        color: variables.$red;

    }

    .icon-x {
        display: none;
        color: variables.$red;
    }
}

@media screen and (max-width: 50rem) {
    // 800px

    .header {
        position: relative;

        .navigation {
            display: flex;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0%;
            text-align: center;
            flex-direction: column;
            padding: 1rem 0rem;

            &.hidden {
                display: none;
                background: variables.$white;
                z-index: 5;
            }
        }

        .icon-bar {
            display: flex;
            font-size: 3rem;
        }

        .icon-x {
            font-size: 3rem;
        }
    }
}