@use "../../../../scss/variables.scss";
@use "../../../../scss/mixins.scss";


.project {
    display: flex;
    flex-direction: row;
    padding: 4rem 15rem;

    .content-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        padding-right: 2rem;

        .header{
            margin-bottom: 3rem;
            color: variables.$red;

            .title{
                font-size: variables.$StandardText;
            }
        }

        .subtitle {
            font-size: variables.$StandardSubTitle;
        }

        :not(:first-child) {
            margin-bottom: 2rem;
        }

        .paragraph{
            font-size: variables.$StandardParagraph;
        }

        .link{
            color: variables.$red;
        }
    }

    .carousel-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        justify-content: center;

        .carousel {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: variables.$borderRed;
        }
    }
}

@media screen and (max-width: 62.5rem){ // 1000px
    .project {
        flex-direction: column;

        .carousel-container{
            .carousel{
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (max-width: 40.625rem){ // 650 px
    .project{
        .content-container {
            .subtitle{
                font-size: variables.$m650Subtitle;
            }

            .paragraph{
                font-size: variables.$m650Paragraph;
            }
        }
    }
}

