<section class="project">
    <div class="content-container">
        <header class="header">
            <h1 class="title"> {{ projectInfo['title'] }} </h1>
        </header>
        <h2 class="subtitle"> {{ projectInfo['sub-title'] }} </h2>
        <ng-container *ngFor="let paragraph of projectInfo['paragraphs']">
            <p> {{ paragraph }}</p>
        </ng-container>
        <a [href]="projectInfo['link']" target="_blank"> {{ projectInfo['link'] }} </a>
        <p class="photographer"> {{ projectInfo['photographer'] }} </p>
    </div>
    <div class="carousel-container">
        <ng-simple-carousel-with-button [images]="images" [controller]="controllerButton">
        </ng-simple-carousel-with-button>
    </div>
    
</section>

