@use "../../../scss/variables.scss";
@use "../../../scss/mixins.scss";


.intro {
    @include mixins.flexColumn;
    width: 100%;
    position: relative;
    padding-bottom: 4rem;
    color: variables.$red;

    .title-container {
        @include mixins.flexRow;
        width: 100%;
        margin-bottom: 3rem;

        .title {
            text-align: center;
            font-size: variables.$StandardText;
        }
    }

    .subtitle {
        width: 80%;
        text-align: center;
        font-size: variables.$StandardSubTitle;
        padding-bottom: 1rem;
    }

    .paragraph {
        width: 80%;
        text-align: center;
        font-size: variables.$StandardParagraph;

        &.first {
            margin-bottom: 3rem;
        }
    }
}

@media screen and (max-width: 81.25rem){ // 1300 px
    .intro{
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 40.625rem){ // 650 px
    .intro{
        margin-bottom: 5rem;

        .title-container{
            .title{
                font-size: variables.$m650Title;
            }
        }

        .subtitle{
            font-size: variables.$m650Subtitle;
        }

        .paragraph{
            font-size: variables.$m650Paragraph;
        }
    }
}
