<section id="projects" class="projects">
    <h1 class="title">{{ projects['title'] }}</h1>
    <ul class="project-list">
        <ng-container *ngFor="let project of projects['projects-content']; let odd = odd"  >
            <li class="project-container" [class.odd-alignment]="odd === true" [routerLink]="['project', project['title']]">
                <article class="project-card">
                    <figure class="img-container">
                        <img class="img" [src]="project['imgs'][0]['srcset']" [alt]="project">
                    </figure>
                    <div class="text-container">
                        <h2 class="subtitle">{{ project['title'] }}</h2>
                    </div>
                </article>
            </li>
        </ng-container>
    </ul>
</section>