@use "../../../../variables.scss";

.work-method{
    width: 100%;
    background: blue;
    display: flex;

    .img-container{
        flex: 1 1 0;
        background: green;
        height: 100%;

        .img{
            width: 100%;
            object-fit: cover;
            border: .2rem solid red;
        }
    }

    .content-container{
        flex: 2 1 0;
        background: orange;
        display: flex;
        flex-direction: column;
        border-left: .2rem solid red;

        .header-title{
            margin: 2rem 0rem;
            .title{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .article{
            display: flex;
            gap: 2rem;
            .text-container{
                background: green;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-right: 2rem;

                :not(:first-child){
                    margin-bottom: 2rem;
                }

                .header{
                    .subtitle{

                    }
                }

                .paragraph{

                }

                .bullet-list{
                    list-style: inside;

                    .bullet-point{
                        margin-bottom: unset;
                    }
                }
            }

            .line {
                flex-shrink: 0;
                background: red;
                width: 3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 1.5rem;

                .x-icon{
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 62.5rem) {
    .work-method{
        flex-direction: column;
    }
}