@use "../../../../variables.scss";

.work-method{
    width: 100%;
    display: flex;
    border-right: variables.$borderRed;

    .img-container{
        flex: 1 1 0;
        height: 100%;

        .img{
            width: 100%;
            object-fit: cover;
            border-top: variables.$borderRed;
            border-left: variables.$borderRed;
            border-bottom: variables.$borderRed;
        }
    }

    .content-container{
        flex: 2 1 0;
        display: flex;
        flex-direction: column;
        border-left: variables.$borderRed;

        .header-title{
            margin: 2rem 0rem;
            color: variables.$red;
            
            .title{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: variables.$StandardText;
            }
        }

        .article{
            display: flex;
            gap: 2rem;

            .text-container{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-right: 2rem;

                :not(:first-child){
                    margin-bottom: 2rem;
                }

                .header{
                    .subtitle{
                        font-size: variables.$StandardSubTitle;
                    }
                }

                .paragraph{
                    font-size: variables.$StandardParagraph;
                }

                .bullet-list{
                    list-style: inside;

                    .bullet-point{
                        margin-bottom: unset;
                    }
                }
            }

            .line {
                flex-shrink: 0;
                background: variables.$red;
                width: 3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 1.5rem;

                .x-icon{
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 65.625rem) { // 1050px
    .work-method{
        flex-direction: column;

        .img-container{
            border-left: variables.$borderRed;

            .img{
                border-top: variables.$borderRed;
                border-left: unset;
                border-bottom: variables.$borderRed;
            }
        }
    }
}

@media screen and (max-width: 40.625rem) { // 650rem
    .work-method{
        .content-container{
            .header-title{
                .title{
                    font-size: variables.$m650Title;
                }
            }
            .article{
                .text-container{
                    .header{
                        .subtitle{
                            font-size: variables.$m650Subtitle;
                        }
                    }
                    .paragraph{
                        font-size: variables.$m650Paragraph;
                    }
                }
            }
        }
    }

}
