@use "../../../variables.scss";

.landing-page {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 15rem);
    width: 100%;
    position: relative;
    margin-bottom: 4rem;

    .img-container{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, .4);
        
        .hero-img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            position: absolute;
            z-index: -1;
        }
    }

    .cta-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 8%;
        top: 30%;
        justify-content: center;
        gap: 1rem;
        font-weight: 600;
        color: white;
        z-index: 2;

        .cta-item {
            text-align: left;
            list-style-position: inside;
            padding: 0 3rem;
            opacity: 0.8;
            font-size: variables.$StandardText;
        }
    }
}

@media screen AND ( max-width:62.5rem) { // 1000px
    
    .landing-page{

        .cta-list{

            .cta-item{
            font-size: variables.$m1000Landing-page;
            }
        }
    }
}

@media screen AND ( max-width:37.5rem) { // 600px
    
    .landing-page{

        .cta-list{
            
            .cta-item{
            font-size: variables.$m600Landing-page;
            }
        }
    }
}