$gapBetweenLine: 2rem;
$borderRed: .2rem solid red;
$red: red;
$white: white;



// Landing page
$m1000Landing-page: 2rem;
$m600Landing-page: 1.8rem;

$StandardText: 2.5rem;
$StandardSubTitle: 2.2rem;
$StandardParagraph: 1.9rem;

// Mediaqueries
$m650Title: 2.3rem;
$m650Subtitle: 2rem;
$m650Paragraph: 1.7rem;



