@use "../../../scss/variables.scss";
@use "../../../scss/mixins.scss";

.work-at{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
    background: variables.$red;

    .title{
        text-align: center;
        color: variables.$white;
    }

    .top-content, .middle-content, .bottom-content{
        width: 100%;
        display: flex;
        flex-direction: row;

        .img-container{
            @include mixins.flexCenter;
            flex: 1 1 0;
            height: 32rem;
            background: variables.$red;

            .img{
                width: 80%;
                height: 80%;
                object-fit: cover;
            }
        }

        .text-container{
            @include mixins.flexCenter;
            flex-direction: column;
            flex: 1 1 0;

            .subtitle{
                font-size: variables.$StandardSubTitle;
                color: variables.$white;
            }

            .paragraph{
                width: 80%;
                margin-bottom: 1rem;
                color: variables.$white;
                font-size: variables.$StandardParagraph;
            }
        }
    }
}

@media screen and (max-width: 65.625rem) { // 1050px

    .work-at{

        .top-content, .middle-content, .bottom-content{
            display: unset;
            flex-wrap: wrap;

            .text-container{

            }
        }

        .study{
            display: flex;
            flex-direction: column-reverse;

            .img-container{

                .img{

                }
            }
        }
    }
}

@media screen and (max-width: 40.625rem) { // 650px

    .work-at{

        .top-content, .middle-content, .bottom-content{


            .text-container{

                .subtitle{
                    font-size: variables.$StandardSubTitle;
                }
                .paragraph{
                    font-size: variables.$StandardParagraph;
                }
            }
        }

        .study{


            .img-container{

                .img{

                }
            }
        }
    }
}